{
	"presets": [
		"react-native"
	],
	"env": {
		"production": {
			"plugins": [
				"transform-remove-console"
			]
		}
	},
	"plugins": [
		"transform-rn-react-dom",
		"transform-decorators-legacy"
	]
}
